footer.footer
	.container
		.footer-content
			.footer-content-copyright
				.footer-content-copyright__img
					img(src="static/img/content/icon/logo.png")
				.footer-content-copyright__text © OathJar, 2018
			.footer-content-menu
				ul.footer-content-menu__list
					li.footer-content-menu__item
						a.footer-content-menu__link FAQ
					li.footer-content-menu__item
						a.footer-content-menu__link Privacy Policy
					li.footer-content-menu__item
						a.footer-content-menu__link Terms of Service
					li.footer-content-menu__item
						a.footer-content-menu__link Contact Us



