header.header
    .container
        .cloud1
        .cloud2
        .logo-wrapper__tagline
            p Where are promises
                strong are kept
        .logo-wrapper.space-between
            .logo-wrapper__img
                img(src="static/img/content/icon/logo.png")
            .promises-counter
                .promises-counter__img
                    +icon('promise-icon')
                .promises-counter__number 31,122 +
                .promises-counter__desc promises
        .header-content
            .header-content__img
                img(src="static/img/content/icon/header-mail-img.png")
            .header-content__subtitle You got an Invite!
            .header-content__title You have been invited to confirm the following relationship
        .header-names
            .header-names-left
                .header-names__name John Smith
                .header-names__mail johnsmith@gmail.com
            .header-names-button
                .header-names-circle
                    +icon('icon-heart')

            .header-names-right
                .header-names__name Janice Smith
                .header-names__mail janicesmith@hotmail.com
        .scroll
            .scroll-desc There’s a message inside
            .scroll-bg
                .scroll-title Hi Janice! Check out this great website
    .link-circle
        .link-circle-inner
            +icon('arrow-down')


