.scrolltop
	display none
	size(81px)
	background-color rgba(233, 82, 56, .2)
	border-radius 50%
	position fixed
	bottom:50px
	right:100px
	transform rotate(180deg)
	cursor pointer
	
	@media screen and (max-width tabletWidth)
		position fixed
		bottom:15px
		right:15px


.scrolltop__icon
	size(55px)
	background-color #eb5238
	border-radius 50%
	absolute-center()
	
	.icon
		absolute-center()
		size(19px,12px)
		fill #fff
		
		