// ЦВЕТА
accentColor = #0d3e60


// РАЗМЕРЫ
baseFontSize = 16px
desktopWidth = 1280px
smallDesktopWidth = 960px
tabletWidth = 768px
bigPhoneWidth = 480px
smallPhoneWidth = 320px



// ШРИФТЫ

mainFont = 'Poppins'