section.further
	.container
		.further-content
			.further-content-img
				img(src="static/img/general/couple.png")
			.further-content-info
				h2.further-content-info__title Further Information
				.further-content-info__text We, at OathJar, think it’s really important that couples have some ground rules in place as they prgress through their relationships. That’s why we’re dedicated to offer you a secure environment where you can establish those promises
				ul.further-content-info__list
					li.further-content-info__list-item Professional and secure environment
					li.further-content-info__list-item 100% Private couple profiles and promises
					li.further-content-info__list-item Unlimited space
					li.further-content-info__list-item Notification Reminders
				p.further-content-info__text We just need your name as a signature

				form.form
					.form-line
						input(type="text" placeholder="Your name").form-line__name

						label.form-line__label
							input(type="checkbox")
							span.form-line__check
							.form-line__check-text
								span I accept the
								a(href="javascript:void(0);") OathJar TOS
					.form-line
						input(type="submit" value="approve invitation").form-line__btn
						p.form-line__text
							span or go to
							a(href="javascript:void(0);") home page


