section.what
	.container
		.what-content
			//Cards
			.what-content-cards
				.what-content-cards__1column
					.what-content-card.what-content-card__easy
						.what-content-card__circle
							.what-content-card__circle-inner
								+icon('icon-easy-to-use')
						.what-content-card__title Easy to use
						.what-content-card__text Built with couples in mind, our platform is extremely easy to use by anyone
						.what-content-card__icon
							a(href="javascript:void(0);") Learn more
							+icon('play-2')


					.what-content-card.what-content-card__therapy
						.what-content-card__circle
							.what-content-card__circle-inner
								+icon('icon-therapeutic')
						.what-content-card__title Therapeutic
						.what-content-card__text Writing your promises down, makes for greater peace of mind
						.what-content-card__icon
							a(href="javascript:void(0);") Learn more
							+icon('play-2')

				.what-content-cards__2column
					.what-content-card.what-content-card__private
						.what-content-card__circle
							.what-content-card__circle-inner
								+icon('icon-private')
						.what-content-card__title Private
						.what-content-card__text Your information is secured and not displayed to anyone but yourselves
						.what-content-card__icon
							a(href="javascript:void(0);") Learn more
							+icon('play-2')

			//Tabs
			.what-content-info
				.what-content-info__tabs
					a(href=".what-content-info__block-why").what-content-info__tab.what-content-info__tab--why Why Use OathJar
					a(href=".what-content-info__block-how").what-content-info__tab.what-content-info__tab--how How it Works
					a(href=".what-content-info__block-private").what-content-info__tab.what-content-info__tab--private OathJar is Private

				.tabs-content
					.what-content-info__block.what-content-info__block-why
						.what-content-info__title Why Use OathJar
						.what-content-info__text  OathJar is a brand new company aimed at providing people in an active relationship with a place of their own to set the rules and guidelines of their relationships

					.what-content-info__block.what-content-info__block-how
						.what-content-info__title How it Works
						.what-content-info__text  OathJar is a brand new company aimed at providing people in an active relationship with a place of their own to

					.what-content-info__block.what-content-info__block-private
						.what-content-info__title OathJar is Private
						.what-content-info__text  OathJar is a brand new company aimed at providing people